---
import MainHead from "../layouts/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

// Style import
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "My Astro Site",
  description = "My personal portfolio website",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />
  <body>
    <Nav />
    <main>
      <slot>Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
